.btn-group1{
    margin-left: 800px;
    border-end-start-radius: 50px;
    border-top-left-radius: 50px;
    padding: 15px;
    font-size: 20px;
    color: white;
    background-color: #F5426E;
    border-width: 0px;
}
.btn-group{
    border-top-right-radius: 50px;
    border-end-end-radius: 50px;
    padding: 15px;
    font-size: 20px;
    color: white;
    background-color: #00047B;
    border-width: 0px;
}
footer{
    background: #F5426E;
    height: 3px;
    padding: 10px;
    width: 100%;
    margin: auto;
    bottom: 0;
    position: fixed;
}
.texto{
    margin-left: 30px;
    font-size: large;
    color: gray;
}