<div>
  <form>
    <br>
    <br>
              <div class="example-container">
                  <div class="select">
                    <span><a class="turma">Turma: </a></span>
                    <select class="form-select" aria-label="Default select example">
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <span><a> | </a></span>
              <span><a>Escola: </a></span>
              <input class="form-user" type="text" placeholder="Escola Padre Dehon" aria-label="Disabled input example" disabled>
                  </div>
  <br>
  <br>
  <br>
              <div>
                  <label for="exampleFormControlInput1" class="form-label"><a class="vermelho">*</a>Nome: </label>
                  <input type="Text" class="form-Name" id="exampleFormControlInput1" placeholder="Isaac Pereira Bastos Quinto">
              </div> 
  <br>
              <div>
                    <label for="exampleFormControlInput1" class="form-label"><a class="vermelho">*</a>Idade: </label>
                    <input type="Text" class="form-age" id="exampleFormControlInput1" placeholder="22">
                    <input class="form-text" type="text" placeholder="Anos" aria-label="Disabled input example" disabled>
              </div>
  <br>
              <div class="Sex">
                <label for="exampleFormControlInput1" class="form-label"><a class="vermelho">*</a>Sexo: </label>
                  <input type="Text" class="form-Sex" id="exampleFormControlInput1" placeholder="Masculino">
              </div>
  <br>
              <div class="Gender">
                <label for="exampleFormControlInput1" class="form-label"><a class="vermelho">*</a>Genero: </label>
                  <input type="Text" class="form-Gender" id="exampleFormControlInput1" placeholder="Masculino">
              </div>
        <br>
          </div>
  </form>
</div>
